.footerContainer {
  padding-top: 40px;
}

.socialIconsSingle {
  float: left;
  margin-left: 10px;
}

.footerLink, .footerLink:hover{
  text-decoration: none;
  color: black;
}

#socialIconsList {
  list-style: none;
}
